<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.CommentMapper">

    <resultMap id="CommentResult" type="Comment" >
        <result column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="livestock_id" property="livestockId" />
        <result column="contents" property="contents" />
        <result column="order_id" property="orderId" />
        <result column="field_id" property="fieldId" />
        <result column="score" property="score" />
    </resultMap>

    <resultMap id="selectCommentUserByFieldId" type="Comment" >
        <result column="comment_id" property="commentId" />
        <result column="user_id" property="userId" />
        <result column="livestock_id" property="livestockId" />
        <result column="contents" property="contents" />
        <result column="order_id" property="orderId" />
        <result column="field_id" property="fieldId" />
        <result column="score" property="score" />
        <association property="user" javaType="com.ecologicalRanch.project.entity.User">
            <result column="user_id" property="userId" />
            <result column="user_pwd" property="userPwd" />
            <result column="username" property="username" />
            <result column="sex" property="sex" />
            <result column="phone" property="phone" />
            <result column="address" property="address" />
            <result column="birthday" property="birthday" />
            <result column="email" property="email" />
            <result column="open_id" property="openId" />
            <result column="head_portrait" property="headPortrait" />
            <result column="creat_time" property="creatTime" />
            <result column="state" property="state" />
        </association>
    </resultMap>

    <sql id="CommentResultVo">
        select
        comment_id,user_id,livestock_id,contents,order_id,field_id,score
         from comment
    </sql>

    <sql id="CommentUserResultVo">
        select
        c.comment_id,c.user_id,c.livestock_id,c.contents,c.order_id,c.field_id,c.score,
        u.user_id,u.user_pwd,u.username,u.sex,u.phone,u.address,u.birthday,u.email,u.open_id,u.head_portrait,u.creat_time,u.state
        from comment c,user u
    </sql>

    <select id="selectCommentById" parameterType="Long" resultMap="CommentResult">
        <include refid="CommentResultVo" />
        WHERE comment_id = #{commentId}
    </select>

    <select id="selectCommentUserByFieldId" parameterType="Long" resultMap="selectCommentUserByFieldId">
        <include refid="CommentUserResultVo" />
        WHERE c.user_id = u.user_id
            and c.field_id = #{fieldId}
    </select>

    <select id="selectCommentList" parameterType="Comment" resultMap="CommentResult">
        <include refid="CommentResultVo"/>
        <where>
            <if test="commentId != null and commentId != 0">
                and comment_id = #{commentId}
            </if>
            <if test="userId != null and userId != 0">
                and user_id = #{userId}
            </if>
            <if test="livestockId != null and livestockId != 0">
                and livestock_id = #{livestockId}
            </if>
            <if test="fieldId != null and fieldId != 0">
            and field_id = #{fieldId}
            </if>
        </where>
    </select>

    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commentId != null  and commentId != ''">comment_id, </if>
            <if test="userId != null  and userId != ''">user_id, </if>
            <if test="livestockId != null  and livestockId != ''">livestock_id, </if>
            <if test="contents != null  and contents != ''">contents, </if>
            <if test="score != null  and score != ''">score, </if>
            <if test="fieldId != null  and fieldId != ''">field_id, </if>
            <if test="orderId != null  and orderId != ''">order_id </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commentId != null  and commentId != ''">#{commentId},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="livestockId != null  and livestockId != ''">#{livestockId},</if>
            <if test="contents != null  and contents != ''">#{contents},</if>
            <if test="score != null  and score != ''">#{score},</if>
            <if test="fieldId != null  and fieldId != ''">#{fieldId}, </if>
            <if test="orderId != null  and orderId != ''">#{orderId}</if>
        </trim>
    </insert>

    <update id="updateComment" parameterType="Comment" >
        UPDATE comment
        <trim prefix="SET" suffixOverrides=",">
            <if test="commentId != null  and commentId != ''">comment_id = #{commentId},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="livestockId != null  and livestockId != ''">livestock_id = #{livestockId},</if>
            <if test="contents != null  and contents != ''">contents = #{contents},</if>
            <if test="orderId != null  and orderId != ''">order_id = #{orderId},</if>
            <if test="fieldId != null  and fieldId != ''">field_id = #{fieldId}, </if>
            <if test="score != null  and score != ''">score = #{score},</if>
        </trim>
        WHERE  comment_id = #{commentId}
    </update>

    <delete id="deleteCommentById" parameterType="Long">
        DELETE FROM comment
        WHERE  comment_id = #{commentId}
    </delete>

    <delete id="deleteCommentByIds" parameterType="String">
        delete from comment where comment_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
