<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.CoordinatesMapper">

    <resultMap id="CoordinatesResult" type="Coordinates" >
        <result column="bluetooth_id" property="bluetoothId" />
        <result column="bluetooth_mac" property="bluetoothMac" />
        <result column="coordinate_x" property="coordinateX" />
        <result column="coordinate_y" property="coordinateY" />
        <result column="device_id" property="deviceId" />
    </resultMap>


    <resultMap id="CoordinatesResultByMac" type="Coordinates" >
<!--        <result column="bluetooth_id" property="bluetoothId" />-->
    </resultMap>

    <resultMap id="CoordinatesResultById" type="Coordinates" >
        <result column="coordinate_x" property="coordinateX" />
        <result column="coordinate_y" property="coordinateY" />
    </resultMap>

    <sql id="CoordinatesResultVo">
        select
        bluetooth_id,bluetooth_mac,coordinate_x,coordinate_y,device_id
         from bluetooth_coordinates
    </sql>

    <select id="selectCoordinatesById" parameterType="Coordinates"  resultMap="CoordinatesResult">
        select
        coordinate_x,coordinate_y
         from bluetooth_coordinates
<!--        <if test="bluetoothId != null and bluetoothId != ''">-->
            where bluetooth_id = #{bluetoothId}
<!--        </if>-->

    </select>

    <select id="selectCoordinatesByMac" parameterType="String" resultMap="CoordinatesResultByMac">
        select
        bluetooth_id
         from bluetooth_coordinates
        WHERE bluetooth_mac = #{bluetoothMac}
    </select>

    <select id="selectCoordinatesList" parameterType="Coordinates" resultMap="CoordinatesResult">
        <include refid="CoordinatesResultVo"/>
        <where>
            <if test="bluetoothId != null and bluetoothId != ''">
                and bluetooth_id = #{bluetoothId}
            </if>
            <if test="bluetoothMac != null and bluetoothMac != ''">
                and bluetooth_mac = #{bluetoothMac}
            </if>
        </where>
    </select>

    <insert id="insertCoordinates" parameterType="Coordinates" useGeneratedKeys="true">
        INSERT INTO bluetooth_coordinates
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">bluetooth_id, </if>
            <if test="bluetoothMac != null  and bluetoothMac != ''">bluetooth_mac, </if>
            <if test="coordinateX != null  and coordinateX != ''">coordinate_x, </if>
            <if test="coordinateY != null  and coordinateY != ''">coordinate_y, </if>
            <if test="deviceId != null  and  deviceId != ''">device_id </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">#{bluetoothId},</if>
            <if test="bluetoothMac != null  and bluetoothMac != ''">#{bluetoothMac},</if>
            <if test="coordinateX != null  and coordinateX != ''">#{coordinateX},</if>
            <if test="coordinateY != null  and coordinateY != ''">#{coordinateY},</if>
            <if test="deviceId != null  and deviceId != ''">#{deviceId}</if>
        </trim>
    </insert>

    <update id="updateCoordinates" parameterType="Coordinates" >
        UPDATE bluetooth_coordinates
        <trim prefix="SET" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">bluetooth_id = #{bluetoothId},</if>
            <if test="bluetoothMac != null  and bluetoothMac != ''">bluetooth_mac = #{bluetoothMac},</if>
            <if test="coordinateX != null  and coordinateX != ''">coordinate_x = #{coordinateX},</if>
            <if test="coordinateY != null  and coordinateY != ''">coordinate_y = #{coordinateY},</if>
            <if test="deviceId != null  and deviceId != ''">device_id = #{deviceId},</if>
        </trim>
        WHERE  bluetooth_mac = #{bluetoothMac}
    </update>

    <delete id="deleteCoordinatesById" parameterType="String">
        DELETE FROM bluetooth_coordinates
        WHERE  bluetooth_id = #{bluetoothId}
    </delete>

    <delete id="deleteCoordinatesByIds" parameterType="String">
        delete from bluetooth_coordinates where bluetooth_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
