<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.DeviceMapper">

    <resultMap id="DeviceResult" type="Device" >
        <result column="device_id" property="deviceId" />
        <result column="device_name" property="deviceName" />
        <result column="field_id" property="fieldId" />
        <result column="device_mac" property="deviceMac" />
        <result column="device_ip" property="deviceIp" />
    </resultMap>

    <sql id="DeviceResultVo">
        select
        device_id,device_name,field_id,device_mac,device_ip
         from device
    </sql>

    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="DeviceResultVo" />
        WHERE device_id = #{deviceId}
    </select>

    <select id="selectDeviceByMac" parameterType="String" resultMap="DeviceResult">
        <include refid="DeviceResultVo" />
        WHERE device_mac = #{deviceMac}
    </select>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="DeviceResultVo"/>
        <where>
            <if test="deviceId != null and deviceId != 0">
                and device_id = #{deviceId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                and device_name = #{deviceName}
            </if>
            <if test="fieldId != null and fieldId != ''">
                and field_id = #{fieldId}
            </if>
        </where>
    </select>

    <insert id="insertDevice" parameterType="Device" useGeneratedKeys="true">
        INSERT INTO device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null  and deviceId != ''">device_id, </if>
            <if test="deviceName != null  and deviceName != ''">device_name, </if>
            <if test="fieldId != null  and fieldId != ''">field_id, </if>
            <if test="deviceMac != null  and deviceMac != ''">device_mac, </if>
            <if test="deviceIp != null  and deviceIp != ''">device_ip </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null  and deviceId != ''">#{deviceId},</if>
            <if test="deviceName != null  and deviceName != ''">#{deviceName},</if>
            <if test="fieldId != null  and fieldId != ''">#{fieldId},</if>
            <if test="deviceMac != null  and deviceMac != ''">#{deviceMac},</if>
            <if test="deviceIp != null  and deviceIp != ''">#{deviceIp}</if>
        </trim>
    </insert>

    <update id="updateDevice" parameterType="Device" >
        UPDATE device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceId != null  and deviceId != ''">device_id = #{deviceId},</if>
            <if test="deviceName != null  and deviceName != ''">device_name = #{deviceName},</if>
            <if test="fieldId != null  and fieldId != ''">field_id = #{fieldId},</if>
            <if test="deviceMac != null  and deviceMac != ''">device_mac = #{deviceMac},</if>
            <if test="deviceIp != null  and deviceIp != ''">device_ip = #{deviceIp},</if>
        </trim>
        WHERE  device_id = #{deviceId}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        DELETE FROM device
        WHERE  device_id = #{deviceId}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from device where device_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <resultMap id="DeviceName" type="java.util.HashMap" >

    </resultMap>
    <select id="selectDeviceNameByFieldId" parameterType="Long" resultMap="DeviceName">
        SELECT  DISTINCT device_name  FROM device
        WHERE field_id = #{fieldId}
    </select>

</mapper>
