<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.DiscountMapper">

    <resultMap id="DiscountResult" type="Discount" >
        <result column="predetermined_discount_id" property="predeterminedDiscountId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="first_month" property="firstMonth" />
        <result column="second_month" property="secondMonth" />
        <result column="third_month" property="thirdMonth" />
        <result column="fourth_month" property="fourthMonth" />
        <result column="fifth_month" property="fifthMonth" />
        <result column="sixth_month" property="sixthMonth" />
        <result column="seventh_month" property="seventhMonth" />
        <result column="eighth_month" property="eighthMonth" />
        <result column="ninth_month" property="ninthMonth" />
        <result column="tenth_month" property="tenthMonth" />
        <result column="eleventh_month" property="eleventhMonth" />
        <result column="twelfth_month" property="twelfthMonth" />
        <result column="field_id" property="fieldId" />
    </resultMap>

    <sql id="DiscountResultVo">
        select
        predetermined_discount_id,create_time,update_time,first_month,second_month,third_month,fourth_month,fifth_month,sixth_month,seventh_month,eighth_month,ninth_month,tenth_month,eleventh_month,twelfth_month,field_id
--          predetermined_discount_id,first_month,second_month,third_month,fourth_month,fifth_month,sixth_month,seventh_month,eighth_month,ninth_month,tenth_month,eleventh_month,twelfth_month
                from predetermined_discount
    </sql>

    <select id="selectDiscountById" parameterType="Long" resultMap="DiscountResult">
        <include refid="DiscountResultVo" />
        WHERE predetermined_discount_id = #{predeterminedDiscountId}
    </select>

    <select id="selectDiscountByFieldId" parameterType="Integer" resultMap="DiscountResult">
        <include refid="DiscountResultVo" />
        WHERE field_id = #{fieldId}
    </select>


    <select id="selectDiscountList" parameterType="Discount" resultMap="DiscountResult">
        <include refid="DiscountResultVo"/>
        <where>
            <if test="predeterminedDiscountId != null and predeterminedDiscountId != 0">
                and predetermined_discount_id = #{predeterminedDiscountId}
            </if>
            <if test="fieldId != null and fieldId != 0">
                and field_id = #{fieldId}
            </if>
        </where>
    </select>

    <insert id="insertDiscount" parameterType="Discount" useGeneratedKeys="true">
        INSERT INTO predetermined_discount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="predeterminedDiscountId != null  and predeterminedDiscountId != ''">predetermined_discount_id, </if>
            <if test="createTime != null  and createTime != ''">create_time, </if>
            <if test="updateTime != null  and updateTime != ''">update_time, </if>
            <if test="firstMonth != null  and firstMonth != ''">first_month, </if>
            <if test="secondMonth != null  and secondMonth != ''">second_month, </if>
            <if test="thirdMonth != null  and thirdMonth != ''">third_month, </if>
            <if test="fourthMonth != null  and fourthMonth != ''">fourth_month, </if>
            <if test="fifthMonth != null  and fifthMonth != ''">fifth_month, </if>
            <if test="sixthMonth != null  and sixthMonth != ''">sixth_month, </if>
            <if test="seventhMonth != null  and seventhMonth != ''">seventh_month, </if>
            <if test="eighthMonth != null  and eighthMonth != ''">eighth_month, </if>
            <if test="ninthMonth != null  and ninthMonth != ''">ninth_month, </if>
            <if test="tenthMonth != null  and tenthMonth != ''">tenth_month, </if>
            <if test="eleventhMonth != null  and eleventhMonth != ''">eleventh_month, </if>
            <if test="twelfthMonth != null  and twelfthMonth != ''">twelfth_month </if>
            <if test="fieldId != null  and fieldId != ''">field_id </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="predeterminedDiscountId != null  and predeterminedDiscountId != ''">#{predeterminedDiscountId},</if>
            <if test="createTime != null  and createTime != ''">#{createTime},</if>
            <if test="updateTime != null  and updateTime != ''">#{updateTime},</if>
            <if test="firstMonth != null  and firstMonth != ''">#{firstMonth},</if>
            <if test="secondMonth != null  and secondMonth != ''">#{secondMonth},</if>
            <if test="thirdMonth != null  and thirdMonth != ''">#{thirdMonth},</if>
            <if test="fourthMonth != null  and fourthMonth != ''">#{fourthMonth},</if>
            <if test="fifthMonth != null  and fifthMonth != ''">#{fifthMonth},</if>
            <if test="sixthMonth != null  and sixthMonth != ''">#{sixthMonth},</if>
            <if test="seventhMonth != null  and seventhMonth != ''">#{seventhMonth},</if>
            <if test="eighthMonth != null  and eighthMonth != ''">#{eighthMonth},</if>
            <if test="ninthMonth != null  and ninthMonth != ''">#{ninthMonth},</if>
            <if test="tenthMonth != null  and tenthMonth != ''">#{tenthMonth},</if>
            <if test="eleventhMonth != null  and eleventhMonth != ''">#{eleventhMonth},</if>
            <if test="twelfthMonth != null  and twelfthMonth != ''">#{twelfthMonth}</if>
            <if test="fieldId != null  and fieldId != ''">#{fieldId} </if>
        </trim>
    </insert>

    <update id="updateDiscount" parameterType="Discount" >
        UPDATE predetermined_discount
        <trim prefix="SET" suffixOverrides=",">
            <if test="predeterminedDiscountId != null  and predeterminedDiscountId != ''">predetermined_discount_id = #{predeterminedDiscountId},</if>
            <if test="createTime != null  and createTime != ''">create_time = #{createTime},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
            <if test="firstMonth != null  and firstMonth != ''">first_month = #{firstMonth},</if>
            <if test="secondMonth != null  and secondMonth != ''">second_month = #{secondMonth},</if>
            <if test="thirdMonth != null  and thirdMonth != ''">third_month = #{thirdMonth},</if>
            <if test="fourthMonth != null  and fourthMonth != ''">fourth_month = #{fourthMonth},</if>
            <if test="fifthMonth != null  and fifthMonth != ''">fifth_month = #{fifthMonth},</if>
            <if test="sixthMonth != null  and sixthMonth != ''">sixth_month = #{sixthMonth},</if>
            <if test="seventhMonth != null  and seventhMonth != ''">seventh_month = #{seventhMonth},</if>
            <if test="eighthMonth != null  and eighthMonth != ''">eighth_month = #{eighthMonth},</if>
            <if test="ninthMonth != null  and ninthMonth != ''">ninth_month = #{ninthMonth},</if>
            <if test="tenthMonth != null  and tenthMonth != ''">tenth_month = #{tenthMonth},</if>
            <if test="eleventhMonth != null  and eleventhMonth != ''">eleventh_month = #{eleventhMonth},</if>
            <if test="twelfthMonth != null  and twelfthMonth != ''">twelfth_month = #{twelfthMonth},</if>
            <if test="fieldId != null  and fieldId != ''">field_id = #{fieldId}</if>
        </trim>
        WHERE  predetermined_discount_id = #{predeterminedDiscountId}
    </update>

    <delete id="deleteDiscountById" parameterType="Long">
        DELETE FROM predetermined_discount
        WHERE  predetermined_discount_id = #{predeterminedDiscountId}
    </delete>

    <delete id="deleteDiscountByIds" parameterType="String">
        delete from predetermined_discount where predetermined_discount_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>