<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.FieldMapper">

    <resultMap id="FieldResult" type="Field" >
        <result column="field_id" property="fieldId" />
        <result column="admin_id" property="adminId" />
        <result column="field_name" property="fieldName" />
        <result column="address" property="address" />
        <result column="qualified" property="qualified" />
        <result column="grade" property="grade" />
        <result column="logo_Src" property="logoSrc" />
        <result column="style_class" property="styleClass" />
    </resultMap>

    <sql id="FieldResultVo">
        select
        field_id,admin_id,field_name,address,qualified,grade,logo_Src,style_class
         from field
    </sql>

    <select id="selectFieldById" parameterType="Long" resultMap="FieldResult">
        <include refid="FieldResultVo" />
        WHERE field_id = #{fieldId}
    </select>



    <select id="selectFieldList" parameterType="Field" resultMap="FieldResult">
        <include refid="FieldResultVo"/>
        <where>
            <if test="fieldId != null and fieldId != 0">
                and field_id = #{fieldId}
            </if>
            <if test="adminId != null and adminId  != 0">
                and admin_id  = #{adminId}
            </if>
            <if test="fieldName != null ">
                and field_name = #{fieldName}
            </if>
        </where>
    </select>

    <insert id="insertField" parameterType="Field" useGeneratedKeys="true">
        INSERT INTO field
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fieldId != null  and fieldId != ''">field_id, </if>
            <if test="adminId != null  and adminId != ''">admin_id, </if>
            <if test="fieldName != null  and fieldName != ''">field_name, </if>
            <if test="address != null  and address != ''">address, </if>
            <if test="qualified != null  and qualified != ''">qualified, </if>
            <if test="grade != null  and grade != ''">grade, </if>
            <if test="logoSrc != null  and logoSrc != ''">logo_Src, </if>
            <if test="styleClass != null  and styleClass != ''">style_class </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fieldId != null  and fieldId != ''">#{fieldId},</if>
            <if test="adminId != null  and adminId != ''">#{adminId},</if>
            <if test="fieldName != null  and fieldName != ''">#{fieldName},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="qualified != null  and qualified != ''">#{qualified},</if>
            <if test="grade != null  and grade != ''">#{grade},</if>
            <if test="logoSrc != null  and logoSrc != ''">#{logoSrc},</if>
            <if test="styleClass != null  and styleClass != ''">#{styleClass}</if>
        </trim>
    </insert>

    <update id="updateField" parameterType="Field" >
        UPDATE field
        <trim prefix="SET" suffixOverrides=",">
            <if test="fieldId != null  and fieldId != ''">field_id = #{fieldId},</if>
            <if test="adminId != null  and adminId != ''">admin_id = #{adminId},</if>
            <if test="fieldName != null  and fieldName != ''">field_name = #{fieldName},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="qualified != null  and qualified != ''">qualified = #{qualified},</if>
            <if test="grade != null  and grade != ''">grade = #{grade},</if>
            <if test="logoSrc != null  and logoSrc != ''">logo_Src = #{logoSrc},</if>
            <if test="styleClass != null  and styleClass != ''">style_class = #{styleClass},</if>
        </trim>
        WHERE  field_id = #{fieldId}
    </update>

    <delete id="deleteFieldById" parameterType="Long">
        DELETE FROM field
        WHERE  field_id = #{fieldId}
    </delete>

    <delete id="deleteFieldByIds" parameterType="String">
        delete from field where field_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>






<!--    <resultMap id="FieldResultByLivestock" type="Field" >-->
<!--        <result column="admin_id" property="adminId" />-->
<!--        <result column="field_name" property="fieldName" />-->
<!--        <result column="address" property="address" />-->
<!--        <result column="qualified" property="qualified" />-->
<!--        <result column="grade" property="grade" />-->
<!--        <result column="logo_Src" property="logoSrc" />-->
<!--        <result column="style_class" property="styleClass" />-->
<!--        <association property="fieldId"-->
<!--                     select="com.ecologicalRanch.project.mapper.LivestockMapper.selectLivestockList" column="field_id"-->
<!--        >-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    -->
<!--    <select id="selectFieldByLivestock"  resultMap="FieldResultByLivestock">-->
<!--        <include refid="FieldResultVo" />-->
<!--        WHERE field_id = #{fieldId}-->
<!--    </select>-->

</mapper>