<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.LivestockMapper">

    <resultMap id="LivestockResult" type="Livestock" >
        <result column="livestock_id" property="livestockId" />
        <result column="field_id" property="fieldId" />
        <result column="step_num" property="stepNum" />
        <result column="bluetooth_id" property="bluetoothId" />
        <result column="rfid_id" property="rfidId" />
        <result column="sex" property="sex" />
        <result column="weight" property="weight" />
        <result column="batch" property="batch" />
        <result column="out_time" property="outTime" />
        <result column="status" property="status" />
        <result column="type" property="type" />
    </resultMap>

    <sql id="LivestockResultVo">
        select
        livestock_id,field_id,step_num,bluetooth_id,rfid_id,sex,weight,batch,out_time,status,type
        from livestock
    </sql>

    <sql id="LivestockStepVo">
        select *
--         l.livestock_id,l.field_id,l.step_num,l.bluetooth_id,l.rfid_id,l.sex,l.weight,l.batch,l.out_time,l.status,
--         s.step_num
    </sql>

    <select id="selectLivestockById" parameterType="Long" resultMap="LivestockResult">
      <include refid="LivestockResultVo" />
        WHERE livestock_id = #{livestockId}
    </select>

    <select id="selectLivestockList" parameterType="Livestock" resultMap="LivestockResult">
        <include refid="LivestockResultVo"/>
        <where>
        <if test="livestockId != null and livestockId != ''">
            and livestock_id = #{livestockId}
        </if>
        <if test="bluetoothId != null and bluetoothId != ''">
            and bluetooth_id = #{bluetoothId}
        </if>
        <if test="rfidId != null and rfidId != ''">
            and rfid_id = #{rfidId}
        </if>
        <if test="outTime != null and outTime!= ''">
            and out_time = #{outTime}
        </if>
            <if test="type != null and type!= ''">
                and type = #{type}
            </if>
        <if test="fieldId != null and fieldId != ''">
            and field_id = #{fieldId}
        </if>
        <if test="status != null">
                and status = #{status}
            </if>


        </where>
    </select>

    <insert id="insertLivestock" parameterType="Livestock" useGeneratedKeys="true">
        INSERT INTO livestock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="livestockId != null  and livestockId != ''">livestock_id, </if>
            <if test="fieldId != null  and fieldId != ''">field_id, </if>
            <if test="stepNum != null  and stepNum != ''">step_num, </if>
            <if test="bluetoothId != null  and bluetoothId != ''">bluetooth_id, </if>
            <if test="rfidId != null  and rfidId != ''">rfid_id, </if>
            <if test="sex != null  and sex != ''">sex, </if>
            <if test="weight != null  and weight != ''">weight, </if>
            <if test="batch != null  and batch != ''">batch, </if>
            <if test="outTime != null  and outTime != ''">out_time, </if>
            <if test="type != null  and type != ''">type, </if>
            <if test="status != null  and status != ''">status </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="livestockId != null  and livestockId != ''">#{livestockId},</if>
            <if test="fieldId != null  and fieldId != ''">#{fieldId},</if>
            <if test="stepNum != null  and stepNum != ''">#{stepNum},</if>
            <if test="bluetoothId != null  and bluetoothId != ''">#{bluetoothId},</if>
            <if test="rfidId != null  and rfidId != ''">#{rfidId},</if>
            <if test="sex != null  and sex != ''">#{sex},</if>
            <if test="weight != null  and weight != ''">#{weight},</if>
            <if test="batch != null  and batch != ''">#{batch},</if>
            <if test="outTime != null  and outTime != ''">#{outTime},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="status != null  and status != ''">#{status}</if>
        </trim>
    </insert>

    <update id="updateLivestock" parameterType="Livestock" >
        UPDATE livestock
        <trim prefix="SET" suffixOverrides=",">
            <if test="livestockId != null  and livestockId != ''">livestock_id = #{livestockId},</if>
            <if test="fieldId != null  and fieldId != ''">field_id = #{fieldId},</if>
            <if test="stepNum != null  and stepNum != ''">step_num = #{stepNum},</if>
            <if test="bluetoothId != null  and bluetoothId != ''">bluetooth_id = #{bluetoothId},</if>
            <if test="rfidId != null  and rfidId != ''">rfid_id = #{rfidId},</if>
            <if test="sex != null  and sex != ''">sex = #{sex},</if>
            <if test="weight != null  and weight != ''">weight = #{weight},</if>
            <if test="batch != null  and batch != ''">batch = #{batch},</if>
            <if test="outTime != null  and outTime != ''">out_time = #{outTime},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="status != null">status = #{status}</if>
        </trim>
        WHERE  livestock_id = #{livestockId}
    </update>

    <delete id="deleteLivestockById" parameterType="Long">
        DELETE FROM livestock
        WHERE  livestock_id = #{livestockId}
    </delete>

    <delete id="deleteLivestockByIds" parameterType="String">
        delete from livestock where livestock_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="fuzzyLivestockList" parameterType="Livestock" resultMap="LivestockResult">
        <include refid="LivestockResultVo"/>
        <where>
        <if test="outTime != null and outTime != ''">
            and out_time like CONCAT(CONCAT('%',#{outTime}),'%')
        </if>
        <if test="livestockId != null and livestockId != ''">
            and livestock_id like CONCAT(CONCAT('%',#{livestockId}),'%')
        </if>
        <if test="fieldId != null and fieldId != ''">
            and field_id like CONCAT(CONCAT('%',#{fieldId}),'%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="bluetoothId != null and bluetoothId != ''">
            and bluetooth_id like CONCAT(CONCAT('%',#{bluetoothId}),'%')
        </if>
        <if test="rfidId != null and rfidId != ''">
            and rfid_id like CONCAT(CONCAT('%',#{rfidId}),'%')
        </if>
        <if test="outTime != null and batch != ''">
            and out_time like CONCAT(CONCAT('%',#{outTime}),'%')
        </if>
        <if test="type != null and type != ''">
            and type like CONCAT(CONCAT('%',#{type}),'%')
        </if>

        </where>
</select>

 <resultMap id="LivestockStep" type="java.util.HashMap" >
    <result column="livestock_id" property="livestockId" />
    <result column="field_id" property="fieldId" />
    <result column="step_num" property="stepNum" />
    <result column="bluetooth_id" property="bluetoothId" />
    <result column="rfid_id" property="rfidId" />
    <result column="sex" property="sex" />
    <result column="weight" property="weight" />
    <result column="batch" property="batch" />
    <result column="out_time" property="outTime" />
    <result column="status" property="status" />
     <result column="type" property="type" />
     <association property="Step" javaType="com.ecologicalRanch.project.entity.Step">
         <result column="step_num" property="stepNum" />
         <result column="livestock_id" property="livestockId" />
         <result column="step_num" property="stepNum" />
         <result column="creat_time" property="creatTime" />
     </association>
</resultMap>
    <select id="selectStep" parameterType="Livestock" resultMap="LivestockStep">
    
    <include refid="LivestockStepVo"></include>
    from livestock l RIGHT JOIN step_number s ON l.step_num = s.step_num
    where l.livestock_id = #{livestockId}
    </select>


    <resultMap id="LivestockOutTime" type="java.util.HashMap" >

    </resultMap>

    <select id="selectOutTime" parameterType="Livestock" resultMap="LivestockOutTime">
        SELECT  DISTINCT out_time  FROM livestock

        where field_id = #{fieldId}
    </select>

    <select id="selectLivestockListByIds" parameterType="String" resultMap="LivestockResult">
        <include refid="LivestockResultVo"/>
        where livestock_id IN
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <select id="selectLivestockListRank" parameterType="Long" resultMap="LivestockResult">
    <include refid="LivestockResultVo"/>
    where field_id = #{fieldId}  order by step_num desc

    </select>

</mapper>
