<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.LocaltioninfoMapper">

    <resultMap id="LocaltioninfoResult" type="Localtioninfo" >
        <result column="Bluetooth_id" property="bluetoothId" />
        <result column="rssi" property="rssi" />
        <result column="gatway_number" property="gatwayNumber" />
    </resultMap>

    <sql id="LocaltioninfoResultVo">
        select
        Bluetooth_id,rssi,gatway_number
         from localtioninfo
    </sql>

    <select id="selectLocaltioninfoById" parameterType="Long" resultMap="LocaltioninfoResult">
        <include refid="LocaltioninfoResultVo" />
        WHERE Bluetooth_id = #{bluetoothId}
    </select>

    <select id="selectLocaltioninfoList" parameterType="Localtioninfo" resultMap="LocaltioninfoResult">
        <include refid="LocaltioninfoResultVo"/>
        <where>
            <if test="bluetoothId != null and bluetoothId != 0">
                and Bluetooth_id = #{bluetoothId}
            </if>
        </where>
    </select>

    <insert id="insertLocaltioninfo" parameterType="Localtioninfo" useGeneratedKeys="true">
        INSERT INTO localtioninfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">Bluetooth_id, </if>
            <if test="rssi != null  and rssi != ''">rssi, </if>
            <if test="gatwayNumber != null  and gatwayNumber != ''">gatway_number </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">#{bluetoothId},</if>
            <if test="rssi != null  and rssi != ''">#{rssi},</if>
            <if test="gatwayNumber != null  and gatwayNumber != ''">#{gatwayNumber}</if>
        </trim>
    </insert>

    <update id="updateLocaltioninfo" parameterType="Localtioninfo" >
        UPDATE localtioninfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="bluetoothId != null  and bluetoothId != ''">Bluetooth_id = #{bluetoothId},</if>
            <if test="rssi != null  and rssi != ''">rssi = #{rssi},</if>
            <if test="gatwayNumber != null  and gatwayNumber != ''">gatway_number = #{gatwayNumber},</if>
        </trim>
        WHERE  Bluetooth_id = #{bluetoothId}
    </update>

    <delete id="deleteLocaltioninfoById" parameterType="Long">
        DELETE FROM localtioninfo
        WHERE  Bluetooth_id = #{bluetoothId}
    </delete>

    <delete id="deleteLocaltioninfoByIds" parameterType="String">
        delete from localtioninfo where Bluetooth_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>