<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecologicalRanch.project.mapper.StepMapper">

    <resultMap id="StepResult" type="Step" >
        <result column="step_num_id" property="stepNumId" />
        <result column="livestock_id" property="livestockId" />
        <result column="step_num" property="stepNum" />
        <result column="creat_time" property="creatTime" />
    </resultMap>

    <sql id="StepResultVo">
        select
        step_num_id,livestock_id,step_num,creat_time
         from step
    </sql>

    <select id="selectStepById" parameterType="Long" resultMap="StepResult">
        <include refid="StepResultVo" />
        WHERE step_num_id = #{stepNumId}
    </select>

    <select id="selectStepList" parameterType="Step" resultMap="StepResult">
        <include refid="StepResultVo"/>
        <where>
            <if test="stepNumId != null and stepNumId != 0">
                and step_num_id = #{stepNumId}
            </if>
        </where>
    </select>

    <insert id="insertStep" parameterType="Step" useGeneratedKeys="true">
        INSERT INTO step
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stepNumId != null  and stepNumId != ''">step_num_id, </if>
            <if test="livestockId != null  and livestockId != ''">livestock_id, </if>
            <if test="stepNum != null  and stepNum != ''">step_num, </if>
            <if test="creatTime != null  and creatTime != ''">creat_time </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stepNumId != null  and stepNumId != ''">#{stepNumId},</if>
            <if test="livestockId != null  and livestockId != ''">#{livestockId},</if>
            <if test="stepNum != null  and stepNum != ''">#{stepNum},</if>
            <if test="creatTime != null  and creatTime != ''">#{creatTime}</if>
        </trim>
    </insert>

    <update id="updateStep" parameterType="Step" >
        UPDATE step
        <trim prefix="SET" suffixOverrides=",">
            <if test="stepNumId != null  and stepNumId != ''">step_num_id = #{stepNumId},</if>
            <if test="livestockId != null  and livestockId != ''">livestock_id = #{livestockId},</if>
            <if test="stepNum != null  and stepNum != ''">step_num = #{stepNum},</if>
            <if test="creatTime != null  and creatTime != ''">creat_time = #{creatTime},</if>
        </trim>
        WHERE  step_num_id = #{stepNumId}
    </update>

    <delete id="deleteStepById" parameterType="Long">
        DELETE FROM step
        WHERE  step_num_id = #{stepNumId}
    </delete>

    <delete id="deleteStepByIds" parameterType="String">
        delete from step where step_num_id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
